nav {            display: flex;
            justify-content: center;
            background-color: #b73f89;
        }

        nav ul {
            list-style: none;
            padding: 0;
        }

        nav ul li {
            display: inline;
            margin: 0 15px;
        }

        div :only-child {
            position: relative;
            left: 30px;
            border: 3px solid #000000;
          }

        nav ul li a {
            color: rgb(255, 255, 255);
            text-decoration: none;
            padding: 14px 20px;
            display: inline-block;
        }

        nav ul li a:hover {
            background-color: #ff84847a;
            transition: background-color 0.3s;
        }

        body {
            font-family: monospace;
            line-height: 1.6;
            background-color: #ffffff; 
        }

        header {
            background-color: #9e1111; 
            padding: 20px;
            color: #ffffff;
            font-family: 'Courier New', Courier, monospace;
            text-align: center;
        }

        nav {
            display: flex;
            justify-content: center;
            background-color: #c44040;
        }

        nav ul {
            list-style: none;
            padding: 0;
        }

        nav ul li {
            display: inline;
            margin: 0 15px;
        }

        nav ul li a {
            color: rgb(255, 255, 255);
            text-decoration: none;
            padding: 14px 20px;
            display: inline-block;
        }

        .container {
            width: 90%;
            margin: auto;
            overflow: hidden;
            padding: 20px;
            display: flex; /* Add flexbox layout */
            justify-content: space-between; /* Space between text and video */
            align-items: center; /* Center vertically */
        }

        .container iframe {
            width: 300px; /* Video takes up 48% of the container */
            height: 200px;
            border-radius: 15px;
        }

        /* Banner Image Section */
        .banner {
	    width: 100%;
	    height: 600px;
	    background-color: #d08b8be2;
	    margin-bottom: 20px;
 	    display: flex;
	    align-items: center; 
	    color: #b73f3f;
        font-family: Georgia, 'Times New Roman', Times, serif;
	    font-size: 2em;
	    text-align: left; 
	}

	.banner img {
	    margin-left: 5px;
	    width: 400px;
	    height: 600px;
	    object-fit: cover;
	}

	.banner h1 {
	    margin-left: 10px; 
	}

    .welcome-section {
        background-color: #FFFFFF;
        padding: 30px;
        text-align: left; /* Align text to the left */
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        width: 48%; /* Take up 48% of the container */
    }

        .welcome-section h1 {
	    color: #b73f3f;
            font-size: 2.5em;
        }

        .welcome-section p {
            font-size: 1.2em;
            margin-top: 15px;
        }

        .news-section {
            margin-top: 40px;
        }

        .news-section h2 {
            color: #7a2828;
            font-size: 2em;
            border-bottom: 2px solid #ff0000;
            padding-bottom: 10px;
            margin-bottom: 20px;
        }
        .news-section img {
            transition-property: transform;
            transition-duration: 1.5s;
            transition-timing-function: ease-out;
        }
        .news-section img:hover {
            transform: rotate(-10deg);
        }

        .news-item {
            background-color: #f9f9f9;
            margin-bottom: 20px;
            padding: 15px;
            border-left: 5px solid #9a1b1b;
            display: flex;
            gap: 20px;
        }

        .news-item img {
            width: 150px;
            height: 100px;
            background-color: #D1C4E9; 
            object-fit: cover;
            border-radius: 5px;
            transition-property: transform;
            transition-duration: 1.5s;
            transition-timing-function: ease-out;
        }
        .news-item img:hover {
            transform: rotate(10deg);
        }
        .news-item h3 {
            color: #e43e3e;
            margin-bottom: 10px;
        }

        .news-item p {
            color: #860101;
        }
 
        .news-item div:first-child {
            border: #000000;
        }
        
        .news-item div:last-child {
            color: #74fc8d;
        }


        footer {
            background-color: #ce4646;
            color: white;
            text-align: center;
            padding: 10px 0;
            margin-top: 40px;
        }

        footer p {
            margin-bottom: 5px;
        }

        footer a {
            color: #db9d9d;
            text-decoration: none;
        }

        footer a:hover {
            text-decoration: underline;
        }
.quiz-container {
            width: 60%;
            margin: 50px auto;
            background: rgb(200, 81, 81);
            padding: 20px;
            font-family: monospace;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(255, 19, 19, 0.2);
        }
        .btn {
            display: block;
            width: 100%;
            font-family: monospace;
            padding: 10px;
            margin: 5px 0;
            background-color: #c47777;
            color: white;
            border: none;
            cursor: pointer;
            font-size: 18px;
            border-radius: 5px;
            transition: background 0.3s;
        }s
        .btn:hover {
            background-color: #70422f;
        }
        #next-btn {
            display: none;
            margin-top: 20px;
            font-family: monospace;
            padding: 10px;
            background-color: #dbc9c9;
            color: rgb(182, 0, 0);
            border: none;
            cursor: pointer;
            font-size: 18px;
            border-radius: 5px;
        }
